
.container {
    margin: 0 auto;
    width: 1280px;
}

body {
    font-family: 'Arial';
}

header {
    height: 323px;
    background-color: #445161;
    position: relative;
}

h1 {
    color:  #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: -1px;
}

.product-name {
    margin-left: 50px;
    display: inline-block;
    float: left;   
}

header li {
    list-style-image: url(../img/check.png);
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.header-img {
    background-color:  #ffffff;
    width: 469px;
    height: 214px;
    margin: 50px 50px 59px 761px;
    position: absolute;
}

.about {
    display: inline-block;
    float: left;
    margin-left: 50px;
    margin-top: 29px;
    width: 649px;
}

.about h2 {
    color:  #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.about p {
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

video {
    background-color:  #445161;
    width: 430px;
    margin-top: 50px;
    margin-left: 101px;
    margin-bottom: 30px;
}

.pluses h2 {
    color:  #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    display: block;
    margin-left: 464px;
    padding-top: 35px;
}

.pluses li {
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.ul1 li {
    list-style: none;
    display: inline-block;
    float: left;
    width: 535px;
    background: url(../img/plus.png) no-repeat;
    padding-left: 35px;
    margin-bottom: 20px;
}

.ul2 li {
    list-style: none;
    width: 535px;
    display: inline-block;
    
    background: url(../img/plus.png) no-repeat;
    padding-left: 35px;
    margin-bottom: 20px;
}

.pluses {
    background-color: whitesmoke;
    margin-bottom: 50px;
    float: none;
    clear: both;
}
.screenshots table {
    margin-left: 50px;
    vertical-align: text-top;
}

.screenshots h2 {
    margin-left: 571px;
    color:  #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.screenshots td h3 {
    color:  #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: -13px;
}

.screenshots td {
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
    padding-bottom: 30px;
    padding-right: 16px;
}

.text {
    width: 359px;
}

.screenshots img {
    width: 200px;
    height: 150px;
    background-color: #445161;
    display: inline-block;
    float: left;
}

.reviews {
    background-color: whitesmoke;
    position: relative;
    height: 400px;
    padding-top: 25px;
    margin-bottom: 50px;
    
}

.reviews h2 {
    color:  #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.userpic1,.userpic2,.userpic4,.userpic3 {
    display: inline-block;
    float: left;
    
}
.userpic1 {
    position: absolute;
    top: 110px;
    left: 50px;
}
.userpic2 {
    position: absolute;
    top: 110px;
    left: 670px;
}
.userpic3 {
    position: absolute;
    top: 270px;
    left: 50px;
}
.userpic4 {
    position: absolute;
    top: 270px;
    left: 670px;
}


.reviews figcaption {
    display: inline-block;
    text-align: justify;
    background-color: gainsboro;
    width: 450px;
    color:  #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    text-align: left;
    margin-left: 141px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.reviews p {
    color:  #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.art1,.art3 {
    display: inline-block;
    float: left;
}

.fig1 {
    position: absolute;
    top: 110px;
}
.fig2 {
    position: absolute;
    left: 620px;
    top: 110px;
}
.fig3 {
    position: absolute;
    left: 0px;
    top: 270px;
}
.fig4 {
    position: absolute;
    left: 620px;
    top: 270px;
}

figcaption::before {
    content: ''; 
    position: absolute; 
    left: -24px; 
    top: 20px; 
    border: 12px solid transparent; 
    border-right: 12px solid gainsboro;
   }

aside h2 {
    text-align: center;
    color:  #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
   
}

.stand,.prem,.lux {
    width: 300px;
    display: inline-block;
    border: 1px solid #445162;
}

.stand,.prem {
    margin-right: 45px;
    float: left;
}

.stand {
    margin-left: 145px;
}

.stand h2,.prem h2,.lux h2 {
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    background-color: #445161;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: -1px;
} 

.stand p,.prem p,.lux p {
    color:  #445162;
    font-size: 40px;
    font-weight: 400;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin-top: -10px; 
    margin-bottom: 20px;
}

.stand ol,.prem ol,.lux ol {
    background-color: #445162;
    padding-bottom: 19px;
    padding-top: 19px;
}

.stand ol li,.prem ol li,.lux ol li {
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 0,2px;
    background-color: #445161;
} 

aside input {
    border-radius: 5px;
    background-color:  #ffffff;
    width: 260px;
    height: 40px;
    color:  #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    cursor: pointer; 
}

.submit {
    background-color: #445162;
    margin-top: 0px;
    padding-left: 20px;
    margin-top: -20px;
    padding-bottom: 20px;
}

aside {
    margin-bottom: 49px;
}

footer h2 {
    color:  #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-top: 53px;
}

footer {
    background-color: #445162;
    position: relative;
}

footer input:not([type="submit"]), footer textarea {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    margin-left: 249px;
    color:  #445162;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 10px;
}

footer textarea {
    height: 170px;
}

footer input[type="submit"] {
    border-radius: 5px;
    background-color:  #ffffff;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin: auto;
    border: 1px solid #445162;
    margin-left: 429px;
}
.social {
    color: #ffffff;
    margin-left: 800px;
    margin-top: 140px;
    
}

.social p {
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
}

.social .img1 {
    position: absolute;
    display: block;
    top: 118px;
    left: 795px;
    margin-left: 25px;
}
.social .img2 {
    position: absolute;
    display: block;
    top: 154px;
    left: 795px;
    margin-left: 25px;
}
.social .img3 {
    position: absolute;
    display: block;
    top: 190px;
    left: 795px;
    margin-left: 25px;;
}

.social .img4 {
    position: absolute;
    display: block;
    top: 228px;
    left: 793px;
    margin-left: 25px;
}

.social .skype {
    position: absolute;
    top: 105px;
    left: 850px;
}

.social .icq {
    position: absolute;
    top: 141px;
    left: 850px;
}
.social .email {
    position: absolute;
    top: 177px;
    left: 850px;
}
.social .phone {
    position: absolute;
    top: 213px;
    left: 850px;
}

form {
    padding-bottom: 49px;
}

.social-buttons {
    position: absolute;
    top: 275px;
    left: 820px;
}

footer-2 {
    background-color: gainsboro;
    color:  #445162;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    top: 3138px;
    width: 1280px;
    height: 20px;
}

footer-2 p {
    position: absolute;
    top: -13px;
    left: 428px;
}
.clr {
    height: 20px;  
}
